In [6]:
#importing packages
import pandas as pd
import numpy as np
import tabula

In [60]:
#loading in and modifying eligibility data
elig_dta=pd.read_csv("/Users/carolineadams/Documents/Georgetown/F21/DS1/FinalProject/PPOL564_Final_Project/Data/rted_dta_kff.csv")
elig_dta=elig_dta[['Location', "State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)"]]
elig_dta=elig_dta.drop([0])
#elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'] = elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'].str.replace('Not reported',"NaN")
elig_dta=elig_dta.replace({"Not reported": np.nan})
elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'] = elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'].str.replace('Yes','1')
elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'] = elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'].str.replace('No','0')

elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'] = pd.to_numeric(elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'], downcast="float")
elig_dta.rename(columns={"Location":"State", "State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)":"Real-Time Eligibility Determination Ability (<24 Hours)"}, inplace=True)  #renaming the columns

elig_dta

,State,Real-Time Eligibility Determination Ability (<24 Hours)
1,Alabama,1.0
2,Alaska,0.0
3,Arizona,1.0
4,Arkansas,1.0
5,California,1.0
6,Colorado,1.0
7,Connecticut,1.0
8,Delaware,1.0
9,District of Columbia,1.0
10,Florida,1.0
11,Georgia,1.0
12,Hawaii,1.0
13,Idaho,1.0
14,Illinois,1.0
15,Indiana,1.0
16,Iowa,1.0
17,Kansas,1.0
18,Kentucky,1.0
19,Louisiana,1.0
20,Maine,1.0
21,Maryland,1.0
22,Massachusetts,1.0
23,Michigan,1.0
24,Minnesota,1.0
25,Mississippi,1.0
26,Missouri,1.0
27,Montana,1.0
28,Nebraska,1.0
29,Nevada,1.0
30,New Hampshire,1.0
31,New Jersey,1.0
32,New Mexico,1.0
33,New York,1.0
34,North Carolina,1.0
35,North Dakota,1.0
36,Ohio,1.0
37,Oklahoma,1.0
38,Oregon,1.0
39,Pennsylvania,1.0
40,Rhode Island,1.0
41,South Carolina,NaN
42,South Dakota,0.0
43,Tennessee,1.0
44,Texas,0.0
45,Utah,1.0
46,Vermont,1.0
47,Virginia,1.0
48,Washington,1.0
49,West Virginia,1.0
50,Wisconsin,1.0
51,Wyoming,1.0

In [58]:
#reading in MCO data
mco_dta=pd.read_csv("/Users/carolineadams/Documents/Georgetown/F21/DS1/FinalProject/PPOL564_Final_Project/Data/mco_dta_kff.csv")
mco_dta.loc[mco_dta['Total Medicaid MCOs'] > 0, 'Total Medicaid MCOs'] = 1
mco_dta.loc[mco_dta['Total Medicaid MCOs'] != 1, 'Total Medicaid MCOs'] = 0
mco_dta=mco_dta.drop([0])
mco_dta.rename(columns={"Location":"State", "Total Medicaid MCOs":"Managed Care"}, inplace=True)  #renaming the columns
mco_dta

                   State  Managed Care
1                Alabama           0.0
2                 Alaska           0.0
3                Arizona           1.0
4               Arkansas           0.0
5             California           1.0
6               Colorado           1.0
7            Connecticut           0.0
8               Delaware           1.0
9   District of Columbia           1.0
10               Florida           1.0
11               Georgia           1.0
12                Hawaii           1.0
13                 Idaho           0.0
14              Illinois           1.0
15               Indiana           1.0
16                  Iowa           1.0
17                Kansas           1.0
18              Kentucky           1.0
19             Louisiana           1.0
20                 Maine           0.0
21              Maryland           1.0
22         Massachusetts           1.0
23              Michigan           1.0
24             Minnesota           1.0
25           Mississippi           1.0
26              Missouri           1.0
27               Montana           0.0
28              Nebraska           1.0
29                Nevada           1.0
30         New Hampshire           1.0
31            New Jersey           1.0
32            New Mexico           1.0
33              New York           1.0
34        North Carolina           0.0
35          North Dakota           1.0
36                  Ohio           1.0
37              Oklahoma           0.0
38                Oregon           1.0
39          Pennsylvania           1.0
40          Rhode Island           1.0
41        South Carolina           1.0
42          South Dakota           0.0
43             Tennessee           1.0
44                 Texas           1.0
45                  Utah           1.0
46               Vermont           0.0
47              Virginia           1.0
48            Washington           1.0
49         West Virginia           1.0
50             Wisconsin           1.0
51               Wyoming           0.0

In [67]:
#reading in cms enrollment data
enroll_dta=pd.read_csv("/Users/carolineadams/Documents/Georgetown/F21/DS1/FinalProject/PPOL564_Final_Project/Data/cms_enrollment_dta.csv")
enroll_dta=enroll_dta[enroll_dta['final_report'] == "Y"]
enroll_dta=enroll_dta[['state_name', "report_date", "state_expanded_medicaid", "total_medicaid_enrollment"]]
enroll_dta['state_expanded_medicaid'] = enroll_dta['state_expanded_medicaid'].str.replace('N','0')
enroll_dta['state_expanded_medicaid'] = enroll_dta['state_expanded_medicaid'].str.replace('Y','1')
enroll_dta.rename(columns={"state_name":"State"}, inplace=True)  #renaming the columns
enroll_dta['state_expanded_medicaid'] = pd.to_numeric(enroll_dta['state_expanded_medicaid'], downcast="float")

enroll_dta

        State report_date  state_expanded_medicaid  total_medicaid_enrollment
0     Alabama  2013-09-01                      0.0                        NaN
2     Alabama  2017-06-01                      0.0                   731915.0
4     Alabama  2017-07-01                      0.0                   735619.0
6     Alabama  2017-08-01                      0.0                   734934.0
8     Alabama  2017-09-01                      0.0                   734507.0
...       ...         ...                      ...                        ...
4743  Wyoming  2021-01-01                      0.0                    60770.0
4745  Wyoming  2021-02-01                      0.0                    61839.0
4746  Wyoming  2021-03-01                      0.0                    62659.0
4749  Wyoming  2021-04-01                      0.0                    63440.0
4750  Wyoming  2021-05-01                      0.0                    63133.0

[2499 rows x 4 columns]

# FiveThirtyEight Data on Political Leaning

In [12]:
#downloading table from 538
url="https://fivethirtyeight.com/features/how-red-or-blue-is-your-state-your-congressional-district/"
pol_leaning_dta=pd.read_html(url)
pol_leaning=pd.concat(pol_leaning_dta, ignore_index=True)

,State,Partisan Lean,Unnamed: 2,State.1,Partisan Lean.1
0,District of Columbia,D+68.2,NaN,Arizona,R+7.6
1,Massachusetts,D+32.6,NaN,Florida,R+7.6
2,Hawaii,D+31.6,NaN,Iowa,R+9.7
3,Vermont,D+27.5,NaN,Texas,R+12.0
4,Maryland,D+25.9,NaN,Ohio,R+12.4
5,California,D+25.5,NaN,Alaska,R+14.6
6,Rhode Island,D+24.0,NaN,South Carolina,R+18.6
7,New York,D+20.0,NaN,Indiana,R+20.0
8,Delaware,D+13.7,NaN,Montana,R+20.0
9,Illinois,D+13.4,NaN,Mississippi,R+20.3
10,Washington,D+12.4,NaN,Louisiana,R+20.5
11,Connecticut,D+12.1,NaN,Kansas,R+20.7
12,New Jersey,D+12.0,NaN,Missouri,R+21.2
13,Oregon,D+10.6,NaN,Nebraska,R+24.8
14,New Mexico,D+7.0,NaN,Utah,R+26.3
15,Colorado,D+6.4,NaN,Kentucky,R+27.1
16,Virginia,D+4.6,NaN,Tennessee,R+29.4
17,Maine,D+4.0,NaN,Alabama,R+29.6
18,Minnesota,D+1.9,NaN,Arkansas,R+31.8
19,New Hampshire,D+0.3,NaN,South Dakota,R+32.2
20,Michigan,R+1.6,NaN,West Virginia,R+35.5
21,Nevada,R+2.5,NaN,Idaho,R+37.0
22,Pennsylvania,R+2.9,NaN,Oklahoma,R+37.2
23,Wisconsin,R+4.1,NaN,North Dakota,R+37.2
24,North Carolina,R+4.8,NaN,Wyoming,R+49.7
25,Georgia,R+7.4,NaN,NaN,NaN

In [25]:
pol_leaning=pol_leaning[['State', "Partisan Lean", "State.1", "Partisan Lean.1"]]
pol_leaning1=pol_leaning[["State", "Partisan Lean"]]
pol_leaning2=pol_leaning[["State.1", "Partisan Lean.1"]]
pol_leaning2.rename(columns={"State.1":"State", "Partisan Lean.1":"Partisan Lean"}, inplace=True)  #renaming the columns
pol_leaning2

/Users/carolineadams/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

             State Partisan Lean
0          Arizona         R+7.6
1          Florida         R+7.6
2             Iowa         R+9.7
3            Texas        R+12.0
4             Ohio        R+12.4
5           Alaska        R+14.6
6   South Carolina        R+18.6
7          Indiana        R+20.0
8          Montana        R+20.0
9      Mississippi        R+20.3
10       Louisiana        R+20.5
11          Kansas        R+20.7
12        Missouri        R+21.2
13        Nebraska        R+24.8
14            Utah        R+26.3
15        Kentucky        R+27.1
16       Tennessee        R+29.4
17         Alabama        R+29.6
18        Arkansas        R+31.8
19    South Dakota        R+32.2
20   West Virginia        R+35.5
21           Idaho        R+37.0
22        Oklahoma        R+37.2
23    North Dakota        R+37.2
24         Wyoming        R+49.7
25             NaN           NaN

In [35]:
pol_lean=pol_leaning1.append(pol_leaning2)
#pol_lean.replace({"D+": "", "R+": "-"})
pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('D+','')
pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('R+','-')
pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('+','')
pol_lean['Partisan Lean'] = pd.to_numeric(pol_lean['Partisan Lean'], downcast="float")
pol_lean=pol_lean.reset_index()
pol_lean=pol_lean[['State', 'Partisan Lean']]
pol_lean=pol_lean.drop([51])
pol_lean

<ipython-input-35-77ace6ee64af>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('D+','')
<ipython-input-35-77ace6ee64af>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('R+','-')
<ipython-input-35-77ace6ee64af>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('+','')

                   State  Partisan Lean
0   District of Columbia      68.199997
1          Massachusetts      32.599998
2                 Hawaii      31.600000
3                Vermont      27.500000
4               Maryland      25.900000
5             California      25.500000
6           Rhode Island      24.000000
7               New York      20.000000
8               Delaware      13.700000
9               Illinois      13.400000
10            Washington      12.400000
11           Connecticut      12.100000
12            New Jersey      12.000000
13                Oregon      10.600000
14            New Mexico       7.000000
15              Colorado       6.400000
16              Virginia       4.600000
17                 Maine       4.000000
18             Minnesota       1.900000
19         New Hampshire       0.300000
20              Michigan      -1.600000
21                Nevada      -2.500000
22          Pennsylvania      -2.900000
23             Wisconsin      -4.100000
24        North Carolina      -4.800000
25               Georgia      -7.400000
26               Arizona      -7.600000
27               Florida      -7.600000
28                  Iowa      -9.700000
29                 Texas     -12.000000
30                  Ohio     -12.400000
31                Alaska     -14.600000
32        South Carolina     -18.600000
33               Indiana     -20.000000
34               Montana     -20.000000
35           Mississippi     -20.299999
36             Louisiana     -20.500000
37                Kansas     -20.700001
38              Missouri     -21.200001
39              Nebraska     -24.799999
40                  Utah     -26.299999
41              Kentucky     -27.100000
42             Tennessee     -29.400000
43               Alabama     -29.600000
44              Arkansas     -31.799999
45          South Dakota     -32.200001
46         West Virginia     -35.500000
47                 Idaho     -37.000000
48              Oklahoma     -37.200001
49          North Dakota     -37.200001
50               Wyoming     -49.700001

# Census Data

# KFF Medicaid Expansion Data

In [3]:
exp_dta=pd.read_csv("/Users/carolineadams/Documents/Georgetown/F21/DS1/FinalProject/PPOL564_Final_Project/Data/med_exp_dta_kff.csv")

In [ ]:
# exp_dta['Status of Medicaid Expansion Decision'] = exp_dta['Status of Medicaid Expansion Decision'].str.replace('Not Adopted','0')
exp_dta['Status of Medicaid Expansion Decision'] = exp_dta['Status of Medicaid Expansion Decision'].str.replace('Adopted','1')
exp_dta['Status of Medicaid Expansion Decision'] = pd.to_numeric(exp_dta['Status of Medicaid Expansion Decision'], downcast="float")
exp_dta.rename(columns={"Location":"State", "Status of Medicaid Expansion Decision":"med_exp_status"}, inplace=True)  #renaming the columns

exp_dta

In [11]:
apptime19="/Users/carolineadams/Documents/Georgetown/F21/DS1/FinalProject/PPOL564_Final_Project/Data/2019-cms-application-time-report.pdf"
table19=tabula.read_pdf(apptime19,pages="all")
table19
tabula.convert_into(apptime19, "2019_cms_app_time.csv", output_format="csv", pages='all')

In [13]:
table19[0]

,Unnamed: 0,Unnamed: 1,Percent of,Percent of.1,Percent of.2,Percent of.3,Percent of.4
0,NaN,NaN,Determinations,Determinations,Determinations,Determinations,Determinations
1,State,Month,Processed,Processed,Processed,Processed,Processed
2,NaN,NaN,< 24 hours,1 - 7 Days,8 - 30 Days,31- 45 Days,45+ Days
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,February*,81.2%,8.0%,8.9%,1.0%,1.0%
5,Alabama,March*,86.0%,7.4%,5.5%,0.6%,0.4%
6,NaN,April*,84.1%,9.8%,5.9%,0.1%,0.1%
7,NaN,February*,8.3%,14.1%,11.8%,4.7%,61.1%
8,Alaska,March*,7.1%,10.2%,10.7%,4.0%,67.9%
9,NaN,April*,8.1%,12.4%,16.1%,5.2%,58.1%
10,NaN,February*,37.7%,14.5%,35.4%,6.9%,5.5%
11,Arizona,March*,39.3%,14.9%,34.0%,7.0%,4.7%
12,NaN,April*,41.7%,14.9%,32.8%,6.5%,4.1%
13,NaN,February*,45.1%,36.3%,9.6%,7.1%,1.9%
14,Arkansas,March*,45.1%,33.9%,11.1%,8.5%,1.4%
15,NaN,April*,25.8%,20.3%,44.7%,4.9%,4.4%

In [12]:
df_19=pd.concat(table19)
df_19

,Unnamed: 0,Unnamed: 1,Percent of,Percent of.1,Percent of.2,Percent of.3,Percent of.4,Unnamed: 2,State,Month,...,Percent of\rDeterminations\rProcessed\r45+ Days,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,Determinations,Determinations,Determinations,Determinations,Determinations,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,Month,Processed,Processed,Processed,Processed,Processed,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,< 24 hours,1 - 7 Days,8 - 30 Days,31- 45 Days,45+ Days,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,February*,81.2%,8.0%,8.9%,1.0%,1.0%,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,NaN,April*,25.8%,13.0%,45.7%,5.9%,9.5%,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,February,31.8%,16.2%,26.3%,7.8%,17.9%,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,National,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Total,March,47.4%,12.9%,20.9%,6.3%,12.5%,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,13.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.2,NaN,NaN,6.2,NaN,NaN,11.2,NaN

In [22]:
elig_det_dta_19=pd.read_csv("/Users/carolineadams/Documents/Georgetown/F21/DS1/FinalProject/PPOL564_Final_Project/Data/state_app_time_dta2019.csv")
elig_det_dta_19

,State,Month,Percent of Determinations Processed\n< 24 hours,Percent of Determinations Processed\n1 - 7 Days,Percent of Determinations Processed\n8 - 30 Days,Percent of Determinations Processed\n31- 45 Days,Percent of Determinations Processed\n45+ Days
0,Alabama,February*,0.810,0.080,0.090,0.010,0.010
1,Alabama,March*,0.860,0.070,0.060,0.010,0.000
2,Alabama,April*,0.840,0.100,0.060,0.000,0.000
3,Alaska,February*,0.080,0.140,0.120,0.050,0.610
4,Alaska,March*,0.070,0.100,0.110,0.040,0.680
...,...,...,...,...,...,...,...
150,Wyoming,February*,0.295,0.127,0.297,0.080,0.201
151,Wyoming,March*,0.315,0.169,0.358,0.020,0.137
152,Wyoming,April*,0.258,0.130,0.457,0.059,0.095
153,National Total,February,0.318,0.162,0.263,0.078,0.179
154,National Total,March,0.474,0.129,0.209,0.063,0.125

In [28]:
nat_total_19=elig_det_dta_19[elig_det_dta_19.State== "National Total"]
nat_total_19=nat_total_19.groupby("State")
nat_mean_19=nat_total_19.mean()
nat_mean_19=nat_mean_19.reset_index()
nat_mean_19

,State,Percent of Determinations Processed\n< 24 hours,Percent of Determinations Processed\n1 - 7 Days,Percent of Determinations Processed\n8 - 30 Days,Percent of Determinations Processed\n31- 45 Days,Percent of Determinations Processed\n45+ Days
0,National Total,0.396,0.1455,0.236,0.0705,0.152

In [17]:
grouped_19 = elig_det_dta_19.groupby("State")
means_19 = grouped_19.mean()

means_19 = means_19.reset_index()
means_19

,State,Percent of Determinations Processed\n< 24 hours,Percent of Determinations Processed\n1 - 7 Days,Percent of Determinations Processed\n8 - 30 Days,Percent of Determinations Processed\n31- 45 Days,Percent of Determinations Processed\n45+ Days
0,Alabama,0.836667,0.083333,0.070000,0.006667,0.003333
1,Alaska,0.076667,0.120000,0.130000,0.046667,0.623333
2,Arizona,0.396667,0.150000,0.340000,0.070000,0.050000
3,Arkansas,0.386667,0.300000,0.220000,0.070000,0.023333
4,California,0.206667,0.190000,0.330000,0.136667,0.140000
5,Colorado,0.416667,0.293333,0.203333,0.046667,0.046667
6,Connecticut,0.963333,0.023333,0.010000,0.000000,0.000000
7,Delaware,0.296667,0.333333,0.370000,0.000000,0.000000
8,District of Columbia,0.766667,0.043333,0.116667,0.056667,0.013333
9,Florida,0.376667,0.256667,0.303333,0.040000,0.026667
10,Georgia,0.036667,0.080000,0.193333,0.130000,0.560000
11,Hawaii,0.626667,0.093333,0.260000,0.010000,0.010000
12,Idaho,0.743333,0.146667,0.106667,0.003333,0.003333
13,Illinois,0.196667,0.156667,0.243333,0.056667,0.353333
14,Indiana,0.050000,0.073333,0.503333,0.296667,0.080000
15,Iowa,0.093333,0.360000,0.466667,0.053333,0.026667
16,Kansas,0.036667,0.180000,0.506667,0.200000,0.080000
17,Kentucky,0.313333,0.093333,0.166667,0.066667,0.366667
18,Louisiana,0.333333,0.140000,0.346667,0.076667,0.110000
19,Maine,0.068333,0.032667,0.082667,0.232333,0.584000
20,Maryland,0.972333,0.022667,0.003000,0.002000,0.000000
21,Massachusetts,0.725000,0.087000,0.051333,0.026333,0.110000
22,Michigan,0.349333,0.258000,0.252667,0.089000,0.051667
23,Minnesota,0.515333,0.270333,0.214000,0.000000,0.000000
24,Mississippi,0.018667,0.200000,0.463000,0.243333,0.075333
25,Missouri,0.004667,0.158000,0.226667,0.078000,0.532667
26,Montana,0.266333,0.264667,0.303000,0.087333,0.079000
27,National Total,0.396000,0.145500,0.236000,0.070500,0.152000
28,Nebraska,0.253000,0.187000,0.459667,0.059000,0.041333
29,Nevada,0.000000,0.621667,0.339333,0.030333,0.008000
30,New Hampshire,0.131333,0.445000,0.386000,0.020333,0.017333
31,New Jersey,0.002667,0.205667,0.424000,0.128333,0.239667
32,New Mexico,0.485000,0.232000,0.146333,0.120000,0.016333
33,New York,0.955333,0.009333,0.029000,0.002667,0.004000
34,North Carolina,0.000000,0.314667,0.220667,0.409333,0.055000
35,North Dakota,0.031000,0.170000,0.441667,0.185667,0.171333
36,Ohio,0.181333,0.170333,0.373000,0.095333,0.180333
37,Oklahoma,1.000000,0.000000,0.000000,0.000000,0.000000
38,Oregon,0.471667,0.154000,0.138000,0.116333,0.119667
39,Pennsylvania,0.144000,0.216667,0.525333,0.071000,0.043000
40,Rhode Island,0.833667,0.092667,0.060000,0.011333,0.002333
41,South Carolina,0.159333,0.475000,0.127000,0.038667,0.200000
42,South Dakota,0.000000,0.641667,0.288333,0.068000,0.002000
43,Tennessee,NaN,NaN,NaN,NaN,NaN
44,Texas,0.204333,0.266000,0.431000,0.064667,0.033333
45,Utah,0.326333,0.304667,0.304333,0.040667,0.023667
46,Vermont,0.424500,0.063000,0.193000,0.102500,0.217000
47,Virginia,0.071000,0.119667,0.160000,0.165000,0.484667
48,Washington,0.863000,0.043667,0.067667,0.010667,0.014333
49,West Virginia,0.260333,0.319667,0.339667,0.048667,0.031667
50,Wisconsin,0.407000,0.158000,0.334000,0.095333,0.005667
51,Wyoming,0.289333,0.142000,0.370667,0.053000,0.144333