In [47]:
#importing packages
import pandas as pd
import numpy as np

In [60]:
#loading in and modifying eligibility data
elig_dta=pd.read_csv("/Users/carolineadams/Documents/Georgetown/F21/DS1/FinalProject/PPOL564_Final_Project/Data/rted_dta_kff.csv")
elig_dta=elig_dta[['Location', "State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)"]]
elig_dta=elig_dta.drop([0])
#elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'] = elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'].str.replace('Not reported',"NaN")
elig_dta=elig_dta.replace({"Not reported": np.nan})
elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'] = elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'].str.replace('Yes','1')
elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'] = elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'].str.replace('No','0')

elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'] = pd.to_numeric(elig_dta['State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)'], downcast="float")
elig_dta.rename(columns={"Location":"State", "State is Able to Make Real-Time Medicaid Eligibility Determinations (<24 Hours)":"Real-Time Eligibility Determination Ability (<24 Hours)"}, inplace=True)  #renaming the columns

elig_dta

,State,Real-Time Eligibility Determination Ability (<24 Hours)
1,Alabama,1.0
2,Alaska,0.0
3,Arizona,1.0
4,Arkansas,1.0
5,California,1.0
6,Colorado,1.0
7,Connecticut,1.0
8,Delaware,1.0
9,District of Columbia,1.0
10,Florida,1.0
11,Georgia,1.0
12,Hawaii,1.0
13,Idaho,1.0
14,Illinois,1.0
15,Indiana,1.0
16,Iowa,1.0
17,Kansas,1.0
18,Kentucky,1.0
19,Louisiana,1.0
20,Maine,1.0
21,Maryland,1.0
22,Massachusetts,1.0
23,Michigan,1.0
24,Minnesota,1.0
25,Mississippi,1.0
26,Missouri,1.0
27,Montana,1.0
28,Nebraska,1.0
29,Nevada,1.0
30,New Hampshire,1.0
31,New Jersey,1.0
32,New Mexico,1.0
33,New York,1.0
34,North Carolina,1.0
35,North Dakota,1.0
36,Ohio,1.0
37,Oklahoma,1.0
38,Oregon,1.0
39,Pennsylvania,1.0
40,Rhode Island,1.0
41,South Carolina,NaN
42,South Dakota,0.0
43,Tennessee,1.0
44,Texas,0.0
45,Utah,1.0
46,Vermont,1.0
47,Virginia,1.0
48,Washington,1.0
49,West Virginia,1.0
50,Wisconsin,1.0
51,Wyoming,1.0

In [58]:
#reading in MCO data
mco_dta=pd.read_csv("/Users/carolineadams/Documents/Georgetown/F21/DS1/FinalProject/PPOL564_Final_Project/Data/mco_dta_kff.csv")
mco_dta.loc[mco_dta['Total Medicaid MCOs'] > 0, 'Total Medicaid MCOs'] = 1
mco_dta.loc[mco_dta['Total Medicaid MCOs'] != 1, 'Total Medicaid MCOs'] = 0
mco_dta=mco_dta.drop([0])
mco_dta.rename(columns={"Location":"State", "Total Medicaid MCOs":"Managed Care"}, inplace=True)  #renaming the columns
mco_dta

                   State  Managed Care
1                Alabama           0.0
2                 Alaska           0.0
3                Arizona           1.0
4               Arkansas           0.0
5             California           1.0
6               Colorado           1.0
7            Connecticut           0.0
8               Delaware           1.0
9   District of Columbia           1.0
10               Florida           1.0
11               Georgia           1.0
12                Hawaii           1.0
13                 Idaho           0.0
14              Illinois           1.0
15               Indiana           1.0
16                  Iowa           1.0
17                Kansas           1.0
18              Kentucky           1.0
19             Louisiana           1.0
20                 Maine           0.0
21              Maryland           1.0
22         Massachusetts           1.0
23              Michigan           1.0
24             Minnesota           1.0
25           Mississippi           1.0
26              Missouri           1.0
27               Montana           0.0
28              Nebraska           1.0
29                Nevada           1.0
30         New Hampshire           1.0
31            New Jersey           1.0
32            New Mexico           1.0
33              New York           1.0
34        North Carolina           0.0
35          North Dakota           1.0
36                  Ohio           1.0
37              Oklahoma           0.0
38                Oregon           1.0
39          Pennsylvania           1.0
40          Rhode Island           1.0
41        South Carolina           1.0
42          South Dakota           0.0
43             Tennessee           1.0
44                 Texas           1.0
45                  Utah           1.0
46               Vermont           0.0
47              Virginia           1.0
48            Washington           1.0
49         West Virginia           1.0
50             Wisconsin           1.0
51               Wyoming           0.0

In [67]:
#reading in cms enrollment data
enroll_dta=pd.read_csv("/Users/carolineadams/Documents/Georgetown/F21/DS1/FinalProject/PPOL564_Final_Project/Data/cms_enrollment_dta.csv")
enroll_dta=enroll_dta[enroll_dta['final_report'] == "Y"]
enroll_dta=enroll_dta[['state_name', "report_date", "state_expanded_medicaid", "total_medicaid_enrollment"]]
enroll_dta['state_expanded_medicaid'] = enroll_dta['state_expanded_medicaid'].str.replace('N','0')
enroll_dta['state_expanded_medicaid'] = enroll_dta['state_expanded_medicaid'].str.replace('Y','1')
enroll_dta.rename(columns={"state_name":"State"}, inplace=True)  #renaming the columns
enroll_dta['state_expanded_medicaid'] = pd.to_numeric(enroll_dta['state_expanded_medicaid'], downcast="float")

enroll_dta

        State report_date  state_expanded_medicaid  total_medicaid_enrollment
0     Alabama  2013-09-01                      0.0                        NaN
2     Alabama  2017-06-01                      0.0                   731915.0
4     Alabama  2017-07-01                      0.0                   735619.0
6     Alabama  2017-08-01                      0.0                   734934.0
8     Alabama  2017-09-01                      0.0                   734507.0
...       ...         ...                      ...                        ...
4743  Wyoming  2021-01-01                      0.0                    60770.0
4745  Wyoming  2021-02-01                      0.0                    61839.0
4746  Wyoming  2021-03-01                      0.0                    62659.0
4749  Wyoming  2021-04-01                      0.0                    63440.0
4750  Wyoming  2021-05-01                      0.0                    63133.0

[2499 rows x 4 columns]

# FiveThirtyEight Data on Political Leaning

In [12]:
#downloading table from 538
url="https://fivethirtyeight.com/features/how-red-or-blue-is-your-state-your-congressional-district/"
pol_leaning_dta=pd.read_html(url)
pol_leaning=pd.concat(pol_leaning_dta, ignore_index=True)

,State,Partisan Lean,Unnamed: 2,State.1,Partisan Lean.1
0,District of Columbia,D+68.2,NaN,Arizona,R+7.6
1,Massachusetts,D+32.6,NaN,Florida,R+7.6
2,Hawaii,D+31.6,NaN,Iowa,R+9.7
3,Vermont,D+27.5,NaN,Texas,R+12.0
4,Maryland,D+25.9,NaN,Ohio,R+12.4
5,California,D+25.5,NaN,Alaska,R+14.6
6,Rhode Island,D+24.0,NaN,South Carolina,R+18.6
7,New York,D+20.0,NaN,Indiana,R+20.0
8,Delaware,D+13.7,NaN,Montana,R+20.0
9,Illinois,D+13.4,NaN,Mississippi,R+20.3
10,Washington,D+12.4,NaN,Louisiana,R+20.5
11,Connecticut,D+12.1,NaN,Kansas,R+20.7
12,New Jersey,D+12.0,NaN,Missouri,R+21.2
13,Oregon,D+10.6,NaN,Nebraska,R+24.8
14,New Mexico,D+7.0,NaN,Utah,R+26.3
15,Colorado,D+6.4,NaN,Kentucky,R+27.1
16,Virginia,D+4.6,NaN,Tennessee,R+29.4
17,Maine,D+4.0,NaN,Alabama,R+29.6
18,Minnesota,D+1.9,NaN,Arkansas,R+31.8
19,New Hampshire,D+0.3,NaN,South Dakota,R+32.2
20,Michigan,R+1.6,NaN,West Virginia,R+35.5
21,Nevada,R+2.5,NaN,Idaho,R+37.0
22,Pennsylvania,R+2.9,NaN,Oklahoma,R+37.2
23,Wisconsin,R+4.1,NaN,North Dakota,R+37.2
24,North Carolina,R+4.8,NaN,Wyoming,R+49.7
25,Georgia,R+7.4,NaN,NaN,NaN

In [25]:
pol_leaning=pol_leaning[['State', "Partisan Lean", "State.1", "Partisan Lean.1"]]
pol_leaning1=pol_leaning[["State", "Partisan Lean"]]
pol_leaning2=pol_leaning[["State.1", "Partisan Lean.1"]]
pol_leaning2.rename(columns={"State.1":"State", "Partisan Lean.1":"Partisan Lean"}, inplace=True)  #renaming the columns
pol_leaning2

/Users/carolineadams/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

             State Partisan Lean
0          Arizona         R+7.6
1          Florida         R+7.6
2             Iowa         R+9.7
3            Texas        R+12.0
4             Ohio        R+12.4
5           Alaska        R+14.6
6   South Carolina        R+18.6
7          Indiana        R+20.0
8          Montana        R+20.0
9      Mississippi        R+20.3
10       Louisiana        R+20.5
11          Kansas        R+20.7
12        Missouri        R+21.2
13        Nebraska        R+24.8
14            Utah        R+26.3
15        Kentucky        R+27.1
16       Tennessee        R+29.4
17         Alabama        R+29.6
18        Arkansas        R+31.8
19    South Dakota        R+32.2
20   West Virginia        R+35.5
21           Idaho        R+37.0
22        Oklahoma        R+37.2
23    North Dakota        R+37.2
24         Wyoming        R+49.7
25             NaN           NaN

In [35]:
pol_lean=pol_leaning1.append(pol_leaning2)
#pol_lean.replace({"D+": "", "R+": "-"})
pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('D+','')
pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('R+','-')
pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('+','')
pol_lean['Partisan Lean'] = pd.to_numeric(pol_lean['Partisan Lean'], downcast="float")
pol_lean=pol_lean.reset_index()
pol_lean=pol_lean[['State', 'Partisan Lean']]
pol_lean=pol_lean.drop([51])
pol_lean

<ipython-input-35-77ace6ee64af>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('D+','')
<ipython-input-35-77ace6ee64af>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('R+','-')
<ipython-input-35-77ace6ee64af>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  pol_lean['Partisan Lean'] = pol_lean['Partisan Lean'].str.replace('+','')

                   State  Partisan Lean
0   District of Columbia      68.199997
1          Massachusetts      32.599998
2                 Hawaii      31.600000
3                Vermont      27.500000
4               Maryland      25.900000
5             California      25.500000
6           Rhode Island      24.000000
7               New York      20.000000
8               Delaware      13.700000
9               Illinois      13.400000
10            Washington      12.400000
11           Connecticut      12.100000
12            New Jersey      12.000000
13                Oregon      10.600000
14            New Mexico       7.000000
15              Colorado       6.400000
16              Virginia       4.600000
17                 Maine       4.000000
18             Minnesota       1.900000
19         New Hampshire       0.300000
20              Michigan      -1.600000
21                Nevada      -2.500000
22          Pennsylvania      -2.900000
23             Wisconsin      -4.100000
24        North Carolina      -4.800000
25               Georgia      -7.400000
26               Arizona      -7.600000
27               Florida      -7.600000
28                  Iowa      -9.700000
29                 Texas     -12.000000
30                  Ohio     -12.400000
31                Alaska     -14.600000
32        South Carolina     -18.600000
33               Indiana     -20.000000
34               Montana     -20.000000
35           Mississippi     -20.299999
36             Louisiana     -20.500000
37                Kansas     -20.700001
38              Missouri     -21.200001
39              Nebraska     -24.799999
40                  Utah     -26.299999
41              Kentucky     -27.100000
42             Tennessee     -29.400000
43               Alabama     -29.600000
44              Arkansas     -31.799999
45          South Dakota     -32.200001
46         West Virginia     -35.500000
47                 Idaho     -37.000000
48              Oklahoma     -37.200001
49          North Dakota     -37.200001
50               Wyoming     -49.700001

# Census Data